.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}

@font-face {
    font-family: Font1;
    src: url('https://op.market/_next/static/media/1060bab20f18b5c2-s.p.woff2') format('woff2');
}

* {
    font-family: Font1, sans-serif;
}

#loading-image {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table {
    display: none;
}

#spinner {
    position: relative;
    top: 150px;
    width: 20%;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loading-progress {
    position: absolute;
    left: 0;
    width: 0;
    bottom: 20px;
    height: 10px;
    background: #FFF;
}