.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}

@font-face {
    font-family: Font1;
    src: url('https://op.market/_next/static/media/1060bab20f18b5c2-s.p.woff2') format('woff2');
}

* {
    font-family: Font1, sans-serif;
}